// 888     888                 
// 888     888                 
// 888     888                 
// Y88b   d88P 8888b.  888d888 
//  Y88b d88P     "88b 888P"   
//   Y88o88P  .d888888 888     
//    Y888P   888  888 888     
//     Y8P    "Y888888 888     
$clr1: #1E1E1E; // Черный
$clr2: #888888; // Серный
$clr3: #BE9A55; // Золотой
$clr4: #A52838; // Красный
$clr5: #FAFAFA; // Светло-серый
$clr6: #F1F1F1; // Линии

$clr7: #E8E8E8;
$clr8: #fff;
$clr9: #D0D0D0;

$clr-whatsapp: #38B266;
$clr-viber: #6857DC;
$clr-telegram: #299ED8;

$clr4-bright: #b02a37;
$clr4-shadow: rgba(225, 83, 97, 0.5);
$clr4-asterisk: #A52838;

$offset0: 0.5rem;
$offset1: 1rem; $offset1r: 1.5rem;
$offset2: 2rem; $offset2r: 2.5rem;
$offset3: 3rem; $offset3r: 3.5rem;
$offset4: 4rem; $offset4r: 4.5rem;
$offset5: 5rem; $offset5r: 5.5rem;
$offset6: 6rem; $offset6r: 6.5rem;
$offset7: 7rem; $offset7r: 7.5rem;
$offset8: 8rem; $offset8r: 8.5rem;
$offset9: 9rem; $offset9r: 9.5rem;

$width1: 125px;
$width2: 210px;

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: "Circe";
    src: url('./src/Fonts/Circe/Circe/Circe-Regular.woff');
}


@mixin flex($just: center, $align: center, $dir: row){
    display: flex;
    align-items: $align;
    justify-content: $just;
    flex-direction: $dir;
}

@mixin flexVertical {
    @include flex(flex-start, center, column);
}

@mixin flexHorSpaceBetween {
    @include flex(space-between);
}

@mixin flexHorSpaceAround {
    @include flex(space-around);
}

@mixin square($res){
    width: $res;
    height: $res;
}

@mixin circle{
    border-radius: 100vmax;
}

// body{
//     background-color: #000;
//     filter: invert(1) hue-rotate(220deg) brightness(2);
// }

// 888b     d888          d8b          
// 8888b   d8888          Y8P          
// 88888b.d88888                       
// 888Y88888P888  8888b.  888 88888b.  
// 888 Y888P 888     "88b 888 888 "88b 
// 888  Y8P  888 .d888888 888 888  888 
// 888   "   888 888  888 888 888  888 
// 888       888 "Y888888 888 888  888 
.eval{
    @include flexVertical;
    font-family: Manrope;
    margin: 0 10vw;

    font-family: Circe;
    font-size: 18px;

    &-title{
        @include flex;
        font-size: 36px;
        line-height: 47px;

        &__left{
            font-weight: 700;
        }
        &__center{
            @include circle();
            @include square(6px);
            margin: 0 $offset1;
            background-color: $clr4;
            transform: translateY(50%);
        }
        &__right{
            font-weight: 400;
        }
    }

    &-content{
        @include flex(center, flex-start);
        padding: $offset4;
        border-radius: $offset1r;
        background-color: $clr5;

        &-inputs{
            align-self: stretch;
            margin-right: $offset5;
            @include flexVertical;

            &-top, &-middle, &-bottom{
                width: 100%;
            }

            &-top{
                @include flexHorSpaceBetween;
                flex-wrap: wrap;

                &-input-wrapper{
                    @include flexVertical;
                    position: relative;
                    flex-basis: 45%;
                    min-width: $width2;
                    flex-grow: 1;
                    margin: 0 $offset2 $offset2 0;
                }
                & .form-input, & .form-select{
                    align-self: stretch;
                }
            }
            &-middle {
                height: 100%;
                & textarea{
                    height: 100%;
                    width: calc(100% - #{$offset2});
                }
            }
            &-bottom {
                @include flexHorSpaceBetween;
                margin-top: $offset3;
                &__sendbtn{
                    @include flex;
                    padding: $offset1r $offset2;
                    background-color: $clr4;
                    flex-basis: 50%;
                    border-radius: 10px;
                    color: $clr8;
                }
                &__hint{
                    font-family: Circe;
                    font-size: 16px;
                    font-weight: 400;
                    margin-left: 32px;
                    margin-right: $offset1;
                    color: $clr2;
                }
                &-socials{
                    @include flex;
                    margin-right: $offset1;
                    &__link{
                        @include square(46px);
                        @include flex;
                        border-radius: 10px;
                        background-color: $clr3;
                        margin: $offset1;
                    }

                    .whatsapp {
                        background-color: $clr-whatsapp;
                    }
                    
                    .viber {
                        background-color: $clr-viber;
                    }
                    
                    .telegram {
                        background-color: $clr-telegram;
                    }
                }
            }
        }

        &-images{
            &-wrapper{
                @include flexVertical;
                align-self: stretch;
                border: 1px dashed $clr9;
                border-radius: 15px;
                width: 100%;
            }

            flex-wrap: wrap;
            min-width: calc($width1 * 3 + #{$offset1} * 7);
            position: relative;
            @include flex(flex-start, flex-start, row);
            
             &-image{
                position: relative;
                &__closebtn {
                    @include circle;
                    @include flex;
                    @include square(24px);
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translate(50%, -50%);
                    opacity: 0;
                }
                &:hover {
                    & button{
                        opacity: 1;
                    }
                }
             }

            &-plusbtn{
                border: 1px dashed $clr4;
                color: $clr4;
                font-size: 36px;
                order: 1;
            }

            &-plusbtn, &-image{
                @include square($width1);
                @include flex;
                border-radius: 15px;
                background: none;
                margin: $offset1;

                & > img{
                    @include square($width1);
                    border-radius: 15px;
                    object-fit: cover;
                }
            }

            &-blank{
                @include flex(center, center, column);
                width: 100%;
                align-self: stretch;
                margin: $offset2 5vw;
                text-align: center;
                margin-top: 40%;
                &__title{
                    font-size: 18px;
                    font-weight: 700;
                }
                &__hint{
                    font-size: 14px;
                    color: $clr2;
                    margin: $offset1 0 $offset2 0;
                }
                &__btn{
                    background: none;
                    border: 1px solid $clr4;
                    border-radius: 10px;
                    width: 66%;
                    padding: $offset1r $offset2;
                }
            }

            & > input{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }
        }
    }
}

.form-input{
    padding: $offset1r $offset2;
    border-radius: 10px;
    border: 1px solid $clr6;
    background-color: $clr8;
    resize: none;

    transition: border-color 255ms linear;
    &:focus{
        outline: none;
        border-color: $clr4;
    }

    font-size: 18px;
    &::placeholder {
        font-size: 18px;
        color: $clr2;
        color: transparent;
    }

    &--textarea::placeholder{
        color: $clr2;
    }
}

.form-select{
    appearance: none;
    &__arrow{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
}

.red-button{
    outline: none;
    border: none;

    background-color: $clr4;
    color: $clr8;
    font-size: 18px;

    cursor: pointer;
    transition-duration: 255ms;
    &:hover{
        background-color: $clr4-bright;
    }

    &:active{
        box-shadow: 0 0 0 0.25rem $clr4-shadow;
    }
}

.form-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &-wrapper{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
    }

    &-custom{
        position: absolute;
        top: 0;
        left: 0;
        @include square($offset2r);
        background-color: transparentize($clr2, 0.75);
        box-shadow: 0 0 0 1px $clr6;
        border-radius: $offset0;
        transition-duration: 255ms;
        cursor: pointer;
    }

    &-wrapper:hover input~&-custom {
        background-color: $clr8;
        box-shadow: 0 0 0 1px $clr4;
    }

    &-wrapper input:checked~&-custom {
        background-color: $clr8;
    }

    &-custom:after {
        content: "";
        position: absolute;
        display: none;
    }

    &-wrapper input:checked~&-custom:after {
        display: block;
    }
    
    &-wrapper &-custom:after {
        left: 9px;
        top: $offset0;
        width: $offset0;
        height: $offset1;
        border: solid $clr4;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.asterisk{
    position: absolute;
    font-size: 18px;
    color: $clr4-asterisk;
    font-weight: 900;
    pointer-events: none;
}

.placeholder{
    @include square(100%);
    @include flex(flex-start);
    position: absolute;
    left: 0;
    top: 0;
    padding-left: $offset2;
    color: $clr2;
    font-size: 18px;
    pointer-events: none;

    opacity: 1;
    transition-duration: 255ms;

    &--important{
        &::after{
            content: "*";
            color: $clr4;
            transform: translateX($offset0);
        }
    }
}

.notifications{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 25vw;
    max-height: 100vh;
    overflow: hidden;
    @include flexVertical();
    padding: $offset2;

    & .notification {
        &-wrapper {
            position: relative;
            padding: $offset2;
            box-shadow: 0 0 $offset0 0 $clr2;
            border-radius: 5px;
            transition-duration: 255ms;
            margin-bottom: $offset3;
            background-color: $clr8;

            &--fade-in{
                opacity: 1;
                transform: none;
            }

            &--fade-out{
                opacity: 0;
                transform: translateX(150%);
            }
        }
    
        &__content {
            font-size: 18px;
            color: $clr2;
        }
    
        &__closebtn {
            @include square($offset3);
            @include circle();
            @include flex;
            cursor: pointer;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 15px;
            color: $clr8;
            background-color: $clr4;
            transform: translate(50%, -50%);
            transition-duration: 255ms;
            &:hover{
                background-color: $clr4-bright;
            }

            &:active{
                filter: brightness(0.75);
                transform: translate(50%, -50%) scale(0.9);
            }
        }
    }
}

// 88888888888       888      
//     888           888      
//     888           888      
//     888   8888b.  88888b.  
//     888      "88b 888 "88b 
//     888  .d888888 888  888 
//     888  888  888 888 d88P 
//     888  "Y888888 88888P"  
@media only screen and (max-width: 1000px){
.eval {
    @include flexVertical;

    &-content {
        @include flexVertical;
        max-width: 100vw;
        width: 100%;
        padding: $offset3 0px;

        &-inputs {
            @include flexVertical;
            margin-right: 0px;

            &-top,
            &-middle,
            &-bottom {
                @include flexVertical;
                width: 100%;
                padding: 0 $offset2;
            }

            &-top {
                @include flexVertical;

                &-input-wrapper {
                    @include flexVertical;
                    width: 100%;
                    min-width: 0px;
                    margin: 0 0 $offset1 0;
                }
            }

            &-middle {
                max-height: 33vh;
                & textarea {
                    width: 100%;
                }
            }

            &-bottom {
                @include flexVertical;
                margin-top: $offset3;

                &__sendbtn {
                    width: auto;
                    padding: $offset1r $offset2;
                }

                &__hint {
                    margin: $offset2 $offset6 $offset1 $offset6;
                    text-align: center;
                }

                &-socials {
                    @include flexHorSpaceAround;
                    margin-right: $offset1;

                    &__link {
                        @include square(46px);
                        @include flex;
                        border-radius: 10px;
                        background-color: $clr3;
                        margin: $offset1;
                    }
                }
            }
        }

        &-images {
            &-wrapper {
                border: none;
            }

            margin: $offset3 0 $offset2 0;
            width: calc(100% - #{$offset4});
            &-blank {
                margin-top: 0;
            }
        }
    }
}
}


// 888b     d888          888      d8b 888          
// 8888b   d8888          888      Y8P 888          
// 88888b.d88888          888          888          
// 888Y88888P888  .d88b.  88888b.  888 888  .d88b.  
// 888 Y888P 888 d88""88b 888 "88b 888 888 d8P  Y8b 
// 888  Y8P  888 888  888 888  888 888 888 88888888 
// 888   "   888 Y88..88P 888 d88P 888 888 Y8b.     
// 888       888  "Y88P"  88888P"  888 888  "Y8888  
@media only screen and (max-width: 450px){
.eval{
    @include flexVertical;

    &-title{
        margin-bottom: 0;
        &__left{
            font-size: 24px;
        }
        &__center{
            @include square(4px);
        }
        &__right{
            font-size: 24px;
        }
    }

    &-content{
        @include flexVertical;
        width: 100vw;
        padding: $offset3 0;
        border-radius: 0;

        &-inputs{
            margin-right: 0;
            @include flexVertical;

            &-top, &-middle, &-bottom{
                @include flexVertical;
                width: 100%;
                padding: 0 $offset2;
            }

            &-top{
                @include flexVertical;
                &-input-wrapper{
                    @include flexVertical;
                    width: 100%;
                    min-width: 0;
                    margin: 0 0 10px 0;
                }
            }
            &-middle {
                max-height: 33vh;
                & textarea{
                    width: 100%;
                }
            }
            &-bottom {
                @include flexVertical;
                margin-top: $offset3;
                &__sendbtn{
                    width: 100%;
                }
                &__hint{
                    margin: $offset2 $offset6 $offset1 $offset6;
                    text-align: center;
                }
                &-socials{
                    @include flexHorSpaceAround;
                    margin-right: $offset1;
                    &__link{
                        @include square(46px);
                        @include flex;
                        border-radius: 10px;
                        background-color: $clr3;
                        margin: $offset1;
                    }
                }
            }
        }

        &-images{
            border: none;
            max-width: 90vw;
            min-width: 0;

            &-plusbtn,
            &-image {
                @include square(75px);
                @include flex;
                border-radius: 15px;
                background: none;
                margin: $offset0;
            
                &>img {
                    @include square(75px);
                    border-radius: 15px;
                    object-fit: cover;
                }

                & button{
                    right: 50%;
                    opacity: 1;
                }
            }

            &-blank {
                margin: $offset3 0 $offset2 0;
            
                &__hint {
                    margin: 0;
                }
            
                &__btn {
                    border-radius: 10px;
                    max-width: 50vw;
                    padding: $offset1r $offset0;
                }
            }
        }
    }
}
}