* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Circe";
  src: url("./src/Fonts/Circe/Circe/Circe-Regular.woff");
}

.eval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Manrope;
  margin: 0 10vw;
  font-family: Circe;
  font-size: 18px;
}

.eval-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-mask-box-image: 30px;
          mask-border: 30px;
}

.eval-title__left {
  font-weight: 700;
}

.eval-title__center {
  border-radius: 100vmax;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #A52838;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.eval-title__right {
  font-weight: 400;
}

.eval-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px;
  border-radius: 15px;
  background-color: #FAFAFA;
}

.eval-content-inputs {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eval-content-inputs-top, .eval-content-inputs-middle, .eval-content-inputs-bottom {
  width: 100%;
}

.eval-content-inputs-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eval-content-inputs-top-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  min-width: 210px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 20px 20px 0;
}

.eval-content-inputs-top .form-input, .eval-content-inputs-top .form-select {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.eval-content-inputs-middle {
  height: 100%;
}

.eval-content-inputs-middle textarea {
  height: 100%;
  width: calc(100% - 20px);
}

.eval-content-inputs-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

.eval-content-inputs-bottom-sendbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 0;
  background-color: #A52838;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-radius: 10px;
  color: white;
}

.eval-content-inputs-bottom-hint {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 10px;
  color: #888888;
}

.eval-content-inputs-bottom-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.eval-content-inputs-bottom-socials__link {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  background-color: #BE9A55;
  margin: 10px;
}

.eval-content-inputs-bottom-socials .whatsapp {
  background-color: #38B266;
}

.eval-content-inputs-bottom-socials .viber {
  background-color: #6857DC;
}

.eval-content-inputs-bottom-socials .telegram {
  background-color: #299ED8;
}

.eval-content-images {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: calc(125px * 3 + 10px * 7);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.eval-content-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: 1px dashed #D0D0D0;
  border-radius: 15px;
  width: 100%;
}

.eval-content-images-image {
  position: relative;
}

.eval-content-images-image__closebtn {
  border-radius: 100vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 0;
}

.eval-content-images-image:hover button {
  opacity: 1;
}

.eval-content-images-plusbtn {
  border: 1px dashed #A52838;
  color: #A52838;
  font-size: 36px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.eval-content-images-plusbtn, .eval-content-images-image {
  width: 125px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 15px;
  background: none;
  margin: 10px;
}

.eval-content-images-plusbtn > img, .eval-content-images-image > img {
  width: 125px;
  height: 125px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.eval-content-images-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 20px 5vw;
  text-align: center;
  margin-top: 40%;
}

.eval-content-images-blank-title {
  font-size: 18px;
  font-weight: 700;
}

.eval-content-images-blank-hint {
  font-size: 14px;
  color: #888888;
  margin: 10px 0 20px 0;
}

.eval-content-images-blank-btn {
  background: none;
  border: 1px solid #A52838;
  border-radius: 10px;
  width: 100%;
  padding: 15px 20px;
}

.eval-content-images > input {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f003;
  opacity: 0;
}

.form-input {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  background-color: white;
  resize: none;
  -webkit-transition: border-color 255ms linear;
  transition: border-color 255ms linear;
  font-size: 18px;
}

.form-input:focus {
  outline: none;
  border-color: #A52838;
}

.form-input::-webkit-input-placeholder {
  font-size: 18px;
  color: #888888;
  color: transparent;
}

.form-input:-ms-input-placeholder {
  font-size: 18px;
  color: #888888;
  color: transparent;
}

.form-input::-ms-input-placeholder {
  font-size: 18px;
  color: #888888;
  color: transparent;
}

.form-input::placeholder {
  font-size: 18px;
  color: #888888;
  color: transparent;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-select__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.red-button {
  outline: none;
  border: none;
  background-color: #A52838;
  color: white;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition-duration: 255ms;
          transition-duration: 255ms;
}

.red-button:hover {
  background-color: #b02a37;
}

.red-button:active {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.form-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: rgba(136, 136, 136, 0.25);
  -webkit-box-shadow: 0 0 0 1px #F1F1F1;
          box-shadow: 0 0 0 1px #F1F1F1;
  border-radius: 5px;
  -webkit-transition-duration: 255ms;
          transition-duration: 255ms;
  cursor: pointer;
}

.form-checkbox-wrapper:hover input ~ .form-checkbox-custom {
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px #A52838;
          box-shadow: 0 0 0 1px #A52838;
}

.form-checkbox-wrapper input:checked ~ .form-checkbox-custom {
  background-color: white;
}

.form-checkbox-custom:after {
  content: "";
  position: absolute;
  display: none;
}

.form-checkbox-wrapper input:checked ~ .form-checkbox-custom:after {
  display: block;
}

.form-checkbox-wrapper .form-checkbox-custom:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #A52838;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.asterisk {
  position: absolute;
  font-size: 18px;
  color: #A52838;
  font-weight: 900;
  pointer-events: none;
}

.placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding-left: 20px;
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  pointer-events: none;
  opacity: 1;
  -webkit-transition-duration: 255ms;
          transition-duration: 255ms;
}

.placeholder--important::after {
  content: "*";
  color: #A52838;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media only screen and (max-width: 1000px) {
  .eval {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eval-content {
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 30px 0px;
  }
  .eval-content-inputs {
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eval-content-inputs-top, .eval-content-inputs-middle, .eval-content-inputs-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .eval-content-inputs-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eval-content-inputs-top-input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-width: 0px;
    margin: 0 0 10px 0;
  }
  .eval-content-inputs-middle {
    max-height: 33vh;
  }
  .eval-content-inputs-middle textarea {
    width: 100%;
  }
  .eval-content-inputs-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .eval-content-inputs-bottom-sendbtn {
    width: auto;
    padding: 15px 20px;
  }
  .eval-content-inputs-bottom-hint {
    margin: 20px 60px 10px 60px;
    text-align: center;
  }
  .eval-content-inputs-bottom-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 10px;
  }
  .eval-content-inputs-bottom-socials__link {
    width: 46px;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 10px;
    background-color: #BE9A55;
    margin: 10px;
  }
  .eval-content-images {
    margin: 30px 0 20px 0;
    width: calc(100% - 40px);
  }
  .eval-content-images-wrapper {
    border: none;
  }
  .eval-content-images-blank {
    margin-top: 0;
  }
}

@media only screen and (max-width: 450px) {
  .eval {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eval-title {
    margin-bottom: 0;
  }
  .eval-title__left {
    font-size: 24px;
  }
  .eval-title__center {
    width: 4px;
    height: 4px;
  }
  .eval-title__right {
    font-size: 24px;
  }
  .eval-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    padding: 30px 0px;
    border-radius: 0px;
  }
  .eval-content-inputs {
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eval-content-inputs-top, .eval-content-inputs-middle, .eval-content-inputs-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .eval-content-inputs-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eval-content-inputs-top-input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-width: 0px;
    margin: 0 0 10px 0;
  }
  .eval-content-inputs-middle {
    max-height: 33vh;
  }
  .eval-content-inputs-middle textarea {
    width: 100%;
  }
  .eval-content-inputs-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .eval-content-inputs-bottom-sendbtn {
    width: 100%;
  }
  .eval-content-inputs-bottom-hint {
    margin: 20px 60px 10px 60px;
    text-align: center;
  }
  .eval-content-inputs-bottom-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 10px;
  }
  .eval-content-inputs-bottom-socials__link {
    width: 46px;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 10px;
    background-color: #BE9A55;
    margin: 10px;
  }
  .eval-content-images {
    border: none;
    max-width: 90vw;
    min-width: 0;
  }
  .eval-content-images-plusbtn, .eval-content-images-image {
    width: 75px;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 15px;
    background: none;
    margin: 5px;
  }
  .eval-content-images-plusbtn > img, .eval-content-images-image > img {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .eval-content-images-plusbtn button, .eval-content-images-image button {
    right: 50%;
    opacity: 1;
  }
  .eval-content-images-blank {
    margin: 30px 0 20px 0;
  }
  .eval-content-images-blank-hint {
    margin: 0;
  }
  .eval-content-images-blank-btn {
    border-radius: 10px;
    max-width: 50vw;
    padding: 15px 5px;
  }
}
/*# sourceMappingURL=style.css.map */